<div class="product-item-1 swiper-container" [swiper]="config">
  <div class="swiper-wrapper h-100">
    <div *ngFor="let products of product" class="swiper-slide" style="width: 150px !important;">
      <mat-card fxLayout="column" >
        <div fxLayout="column">
          <ngx-skeleton-loader *ngIf="!contentLoaded" count="1"
            [theme]="{ width: '180px', 'border-radius': '0', height: '180px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader *ngIf="!contentLoaded" count="2"
            [theme]="{ 'border-radius': '0', height: '20px', width: '180px'  }"></ngx-skeleton-loader>
        </div>

        <div class="product-img" *ngIf="contentLoaded && products.productMainImage.length>0">
          <a class="product-link" [routerLink]="['/home/product', product.id]" >
            <img src="http://localhost:8090{{products.productMainImage[0].productListImage}}" alt="" style=" max-width: 150px;max-height: 150px;;">
          </a>
        </div>
        <div class="product-info-wrapper">
          <!-- <span class="category" *ngIf="contentLoaded">{{product.name}}</span> -->
          <div *ngIf="contentLoaded">
            <p style="margin-bottom: 0px !important;text-transform: uppercase;text-align: center;">{{products.productName}}
            </p>
          </div>

      
        </div>     
      </mat-card>
    </div>

  </div>
</div>