<div class="category-contant">
    <ul >
        <li *ngFor="let c of categoryList;let i=index"><a (click)="openProduct(c.id)">{{c.name}}</a></li>
        <!-- <li ><a class="no-brd" [routerLink]="['/home/products/all/left-sidebar']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Headphones/left-sidebar']">Headphones</a></li>
        <li><a [routerLink]="['/home/products/Laptops/left-sidebar']">Laptops</a></li>
        <li><a [routerLink]="['/home/products/Smartphones/left-sidebar']">Smart Phones</a></li>
        <li><a [routerLink]="['/home/products/Cameras/left-sidebar']">Cameras</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio/left-sidebar']">Tv & Audio</a></li>
        <li><a [routerLink]="['/home/products/Watches/left-sidebar']">Watches</a></li> -->
    </ul>
</div>