<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Chairs']">Rain Water Harvesting</a></li>
        <li><a [routerLink]="['/home/products/Lights']">Water Treatment & Purification</a></li>
        <li><a [routerLink]="['/home/products/Accesories']">Water Storage (Tanks)</a></li>
        <li><a [routerLink]="['/home/products/Furniture']">Dam liners and Pond liners</a></li>
        <li><a [routerLink]="['/home/products/Furniture']">Irrigation</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Plumbing Solutions</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Swimming Pool Solutions</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Cement,Construction Steel,Sanitary ware</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Solar Systems</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Bulk Diesel, Petrol, Oil & Lubricants</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Green House</a></li>

        <li><a [routerLink]="['/home/products/Watches']">Building & Hardware Material</a></li>
        <!-- <li><a [routerLink]="['/home/products/Watches']">Solar Systems</a></li> -->

    </ul>
</div>