<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>

<div class="container">
  <div class="checkout sec-padding">
    <div fxLayout="row wrap" class="">


      <div class="billing-details  pr-15" fxFlex="100" fxFlex.gt-md="65" fxFlex.md="65">
      




        <!-- Login Portion With Login Successfully -->
        <div class="myaccount-content mb-10" *ngIf="isLogin && !isSignup">
          <h3> <span>1</span> Login <i style="color:#0de70d" class="fa fa-check" aria-hidden="true"></i> </h3>
          <div class="account-details-form" style="margin-top: 0% !important;">
            <div class="row">
              <div class="col-md-4">
                <h5 style="font-weight: 600;">{{localUserName}}</h5>
              </div>
              <div class="col-md-6">
                <span style="font-size: 16px!important;">{{localUserEmail}}</span>
              </div>
              <div class="col-md-2" *ngIf="!isShowLogout">
                <!-- <div class="single-input-item">
                  <button class="check-btn sqr-btn-cancel" (click)="changeLoginUser()">Change</button>
                </div> -->
                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="mt-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="changeLoginUser()">Change
                    </button>
                </div>
              </div>
              <div class="col-md-6" *ngIf="isShowLogout">
                <a (click)="logoutUser()">
                  <span style="font-size: 16px!important;font-weight: bold;color: rgb(7, 85, 240);">
                  Logout & Sign in to another account
                  </span>

                </a>
              </div>
              <div class="col-md-2 offset-md-1" *ngIf="isShowLogout">
                <div class="single-input-item">
                  <!-- <button class="check-btn sqr-btn" >Continue Checkout</button> -->
                  <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="ContinueCheckout()">Continue Checkout
                  </button>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isShowLogout">
              <span style="font-size: 12px!important;font-weight: 500;color: red;">Please
                note that upon clicking
                "Logout" you will lose all items in cart and will be redirected to
                 home page.</span>
            </div>

          </div>
        </div>
        <div class="myaccount-content mb-10" *ngIf="!isLogin && !isSignup">
          <h3><span>1</span> Login</h3>
          <div class="account-details-form">
            <form name="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="email" class="required">Email</label>
                    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="loginModel.email" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="password" class="required">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                      [(ngModel)]="loginModel.password" />
                  </div>
                </div>
              </div>
              <div class="single-input-item">
                <div class="row">
                  <div class="col-md-8">
                    <span>
                      By continuing, you agree to Lamya's Terms Of Use and
                      Privacy Policy.
                    </span>
                  </div>
                  <div class="col-md-2">
                    <button class="check-btn sqr-btn-cancel" (click)="signupOpen()">SIGNUP</button>
                  </div>
                  <div class="col-md-2">
                    <button class="check-btn sqr-btn" (click)="continueLoginUser(loginModel)">Continue</button>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="myaccount-content mb-10" *ngIf="isSignup">
          <h3><span>1</span> Signup</h3>
          <div class="account-details-form">
            <form name="signupForm" #signupForm="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="firstname" class="required">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="middlename" class="required">Middle Name</label>
                    <input type="text" id="middlename" name="middlename" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="lastname" class="required">Last Name</label>
                    <input type="text" id="lastname" name="flastname" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="contactnumber" class="required">Contact
                      Number</label>
                    <input type="text" id="contactnumber" name="contactnumber" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="email" class="required">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <label for="password" class="required">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                </div>
              </div>
              <div class="single-input-item">
                <div class="row">
                  <div class="col-md-10">
                    <span>
                      By continuing, you agree to Lamya's Terms Of Use and
                      Privacy Policy.
                    </span>
                  </div>
                  <div class="col-md-2">
                    <button class="check-btn sqr-btn" (click)="submitUserRegister()">Continue</button>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
        <!-- Login Portion With Login Successfully -->
        <!-- Address Portion start -->

        <div class="myaccount-content mb-10" *ngIf="isAddress">
          <h3><span>2</span> DILVERY ADDRESS <i style="color:#0de70d" class="fa fa-check" aria-hidden="true"></i> </h3>
          <div class="account-details-form" style="margin-top: 0% !important;">
            <div class="row">
              <div class="col-md-3">
                <span style="font-weight: 400;font-size: 18px;">{{selectedAdd}}</span>
              </div>
              <div class="col-md-7">
                <!-- <span>{{localUserEmail}}</span> -->
              </div>
              <div class="col-md-2">
                <div class="single-input-item">
                  <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="changeDilveryAddress()">Change</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="myaccount-content mb-10" *ngIf="!isAddress">
          <h3><span>2</span> DILVERY ADDRESS</h3>
          <div class="row" *ngIf="isLogin">
            <div class="col-lg-12">
              <h4>Choose for delivery.</h4>
            </div>

            <div class="col-md-4" *ngFor="let add of userAddress;let i=index">
              <address *ngIf="isLogin" (click)="selectaddress(i,add.id)">
                <div class="custom-control custom-radio">
                  <input id="add.id" type="radio" class="custom-control-input" name="add.id"
                    >
                  <p style="margin-bottom:0px !important" class="custom-control-label" for="add.id">
                    <strong>{{add.name}}</strong>
                  </p>
                </div>
                <p style="margin-bottom:0px !important">
                  {{add.address}},{{add.landmark}},{{add.city}}<br>
                  {{add.state}},{{add.pincode}}</p>
                <p style="margin-bottom:0px !important">Mobile:{{add.contactnumber}}
                </p>
              </address>
              <button class="btn-project" mat-raised-button color="primary" type="submit" *ngIf="add.selected" style="margin-bottom: 1rem !important;"
                (click)="selectedaddress(add)">Deliver Here</button>
            </div>

          </div>
        </div>
        <div class="myaccount-content mb-20" *ngIf="isShow && !isAddress ">
          <h3 (click)="addNewAdd()">ADD A NEW ADDRESS</h3>
          <form *ngIf="isAddNewAddClick" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20 " ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Name (required)" [(ngModel)]="addressModel.name"
                  [ngModelOptions]="{standalone: true}" #name="ngModel" ngModel name="name" required>
                <mat-error *ngIf="name.invalid">Please enter a Name</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Address" #address="ngModel" ngModel [(ngModel)]="addressModel.address"
                  [ngModelOptions]="{standalone: true}" name="address">
                <mat-error *ngIf="address.invalid">Please enter a valid Address</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Town/city" #city="ngModel" ngModel [(ngModel)]="addressModel.city"
                  [ngModelOptions]="{standalone: true}" name="city">
                <mat-error *ngIf="city.invalid">Please enter a valid City</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pr-5" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="State / Country (required)" #state="ngModel" ngModel name="state" ngModel
                  [(ngModel)]="addressModel.state" [ngModelOptions]="{standalone: true}" required>
                <mat-error *ngIf="state.invalid">Please enter a valid State</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Postcode / zip (required)" #pincode="ngModel" ngModel ngModel
                  [(ngModel)]="addressModel.pincode" [ngModelOptions]="{standalone: true}" name="pincode" required>
                <mat-error *ngIf="pincode.invalid">Please enter a valid Zipcode</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pr-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Phone (required)" #contactnumber="ngModel" ngModel name="contactnumber"
                  [(ngModel)]="addressModel.contactnumber" [ngModelOptions]="{standalone: true}" required>
                <mat-error *ngIf="contactnumber.invalid">Enter Contat Number, Only Numbers Allow.</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pl-5" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <input matInput placeholder="Enter Alternative Numbeer" #alternativeno="ngModel" name="alternativeno"
                  [(ngModel)]="addressModel.alternativeno" [ngModelOptions]="{standalone: true}" ngModel>
              </mat-form-field>
            </div>


            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="mt-5" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="saveAddress()">Save
                Address</button>&nbsp;&nbsp;
              <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="cancelAddress()">
                Cancel</button>
            </div>
            <div class="add-info">
              <h3>Additional information</h3>
              <p class="text-muted">Order notes (optional)</p>

            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
              <mat-form-field class="w-100">
                <textarea placeholder="Post content" matInput rows="4" ngModel name="content"></textarea>
              </mat-form-field>
            </div>
            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" mat-raised-button color="primary" type="submit">Submit Review</button>
            </div>
          </form>
        </div>
        <!-- Address Portion End -->
        <!-- Payment Portion Start -->

        <div class="myaccount-content mb-10">
          <h3><span>4</span> PAYMENT OPTIONS</h3>
          <div *ngIf="ispayment && isAddress">
            <div class="myaccount-content">
              <div class="form-check-radio">
                <label class="form-check-label" style="font-size: 15px !important;">
                  <input class="form-check-input" type="radio"
                    name="pymnt" id="pymnt1"  [value]="cashfree" />
                  <img src="../../../../assets/images/Cashfree.jpg" alt="Bhim SVG"
                    style="height:30px !important;width:30px !important;" /> Cashfree
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <!-- <div class="row">
                <div class="col-md-3 offset-md-1">
                  <h4>Choose an option</h4>
                  <div class="form-check-radio">
                    <label class="form-check-label"
                      style="font-size: 15px !important;">
                      <input class="form-check-input" type="radio"
                        name="exampleRadioz" id="exampleRadios11"
                        value="option1">Phone Pe
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio">
                    <label class="form-check-label"
                      style="font-size: 15px !important;">
                      <input class="form-check-input" type="radio"
                        name="exampleRadioz" id="exampleRadios11"
                        value="option1">Your UPI ID
                      <span class="form-check-sign"></span>
                    </label>
                  </div>

                </div>
              </div> -->
            </div>
            <div class="myaccount-content">
              <div class="form-check-radio">
                <label class="form-check-label" style="font-size: 15px !important;">
                  <input class="form-check-input" type="radio"
                  name="pymnt" id="pymnt2"  [value]="stripe" >
                  <img src="../../../../assets/images/stripe.jpeg"
                    alt="Paytm SVG"
                    style="height:30px !important;width:30px !important;" />
                  Strapi
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
             

            <div class="myaccount-content">
              <div class="form-check-radio">
                <label class="form-check-label" style="font-size: 15px !important;">
                  <input class="form-check-input" type="radio"
                  name="pymnt" id="pymnt3"  [value]="cod" />
                  <!-- <img src="../../../../assets/images/stripe.jpeg"
                    alt="Paytm SVG"
                    style="height:30px !important;width:30px !important;" /> -->
                  Cash on Delivery
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            
            </div>
          </div>
        
        <!-- Payment Portion End -->

        


      </div>


     
      <div class="mainOrder-wrapper pl-15" fxFlex="100" fxFlex.gt-md="35" fxFlex.md="35">
        <div class="main-order ">
          <div class="order-box">
            <div class="title-box">
              <div>Product <span class="tl-amount"> Total</span></div>
            </div>
            <ul class="price-list" *ngIf='buyProducts.length'>
              <li *ngFor="let item of buyProducts">
                {{ item.productName }} × {{ item.quantity }}
                <span>
                  {{ item.productPrice * item.quantity | currency:productService?.currency:'symbol' }}
                </span>
              </li>
            </ul>
            <ul class="quantity" *ngIf='buyProducts.length <= 0'>
              <li class="empty-checkout"> There are no products in cart </li>
            </ul>
            <ul class="total-amount">
              <li>
                Subtotal <span class="amount">{{ carttotal}}$</span>
              </li>
              <li *ngIf='buyProducts.length'>
                Shipping
                <div class="shipping">
                  <div class="shopping-option">
                    <mat-radio-group>
                      <mat-radio-button *ngFor="let payment of payments" [value]="payment">{{payment}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>

                </div>
              </li>
            </ul>
            <ul class="total">
              <li>Total <span class="count">{{carttotal}}$</span></li>
            </ul>
          
            <div class="order">
              <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="placeOrder()">PLACE
                ORDER</button>&nbsp;&nbsp;

              <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="cancelOrder()">cancel
                order</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>