<app-breadcrumb [title]="'My Account'" [breadcrumb]="'My Account'"></app-breadcrumb>

<div class="my-account sec-padding">

  <div class="container">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <mat-card class="pt-10" *ngIf="!isLogin">
        <div class="my-account-wrap ">
          <div class="login-wrapper">
            <div class="title">
              <h3 style="text-align: center;">Login</h3>
            </div>
            <form class="row">
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Email Address" class="form-control" [(ngModel)]="userRegisterModel.email"
                    #email="ngModel" ngModel name="email" required [ngModelOptions]="{standalone: true}">
                  <mat-error *ngIf="email.invalid">Please enter a valid Email Address</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="userRegisterModel.password" required [ngModelOptions]="{standalone: true}" ngModel
                    name="password">
                  <!-- <mat-error *ngIf="password.invalid">Please enter a valid Password</mat-error> -->

                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-2 offset-md-4" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="login()">Log in</button>
              </div> 
            </form>
            <div class="row">
              <div class="mr-md-auto">
                <button mat-button color="warn">Forgot Password?</button>
              </div>
              <div class="ml-md-auto">
                <button mat-button color="primary" (click)="joinus()">Join With Us</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="pt-10" *ngIf="isLogin">
        <div class="my-account-wrap ">
          <div class="login-wrapper">
            <div class="title">
              <h3 style="text-align: center;">Create A Account</h3>
            </div>
            <form class="row">
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="First Name" class="form-control" [(ngModel)]="userRegisterModel.fname"
                    #fname="ngModel" ngModel name="fname" [ngModelOptions]="{standalone: true}">
                  <!-- <mat-error *ngIf="fname.invalid">Please enter a valid message</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Last Name" class="form-control" [(ngModel)]="userRegisterModel.lname"
                    #lname="ngModel" ngModel name="lname" [ngModelOptions]="{standalone: true}">
                  <!-- <mat-error *ngIf="lname.invalid">Please enter a valid message</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Contact Number" class="form-control"
                    [(ngModel)]="userRegisterModel.contact" #contact="ngModel" ngModel name="contact">
                </mat-form-field>
              </div>
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Email Address" class="form-control" [(ngModel)]="userRegisterModel.email"
                    #name="ngModel" ngModel name="name" required>
                  <mat-error *ngIf="name.invalid">Please enter a valid Email Address.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field>
                  <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="userRegisterModel.password" required [ngModelOptions]="{standalone: true}" ngModel
                    name="password">
                  <!-- <mat-error *ngIf="password.invalid">Please enter a valid Password.</mat-error> -->
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>
              </div>
              <div class="col-md-2 offset-md-4" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <button class="btn-project" mat-raised-button color="primary" type="submit" (click)="saveUserDetails()">Sign Up</button>
              </div>
            </form>
            <div class="row">
              <div class="mr-md-auto">
                <button mat-button color="warn">Forgot Password?</button>
              </div>
              <div class="ml-md-auto">
                <button mat-button color="primary" (click)="loginWith()">Already have an account?</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

  </div>
</div>