<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row" fxLayout.xs="row"
    fxLayoutAlign="space-between center">
    <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
        <a [routerLink]="['/home/landing']" routerLinkActive="router-link-active" mat-button class="mat-button">home</a>


        <a mat-button [matMenuTriggerFor]="Product" class="mat-button">Products<mat-icon class="caret">arrow_drop_down
            </mat-icon></a>
        <mat-menu #Product="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="category"
                *ngFor="let c of categoryList; let i=index">{{c.name}}</button>
        </mat-menu>
        <!-- <mat-menu #category="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="sub" *ngFor="let sc of c.SubCategory;let j= index"
                (click)="openSubToSub(c.id ,sc.id,i,j)">{{sc.name}}</button>
        </mat-menu>
        <mat-menu #sub="matMenu">
            <button mat-menu-item *ngFor="let ss of sc.subtosub">{{ss.name}}</button>
        </mat-menu> -->
        <!-- <mat-menu #shop="matMenu" [overlapTrigger]="false" class="app-dropdown mega-menu">
            <div fxLayout="row wrap">
                <div fxFlex="25" fxLayout="column" class="p-1" *ngFor="let cat of mainCategory;let i=index">
                    <a mat-menu-item (click)="openSubcategory(cat.id,i)"><b>{{cat.name}} <mat-icon class="caret">
                                arrow_drop_down</mat-icon></b>
                    </a>
                    <mat-divider *ngIf="cat.isSub"></mat-divider>
                    <div *ngIf="cat.isSub">
                        <a mat-menu-item *ngFor="let sc of subcate;let j= index">{{sc.name}}</a>
                    </div>

                </div>
            </div>

        </mat-menu> -->
        <!-- <a mat-button mat-button [matMenuTriggerFor]="blog" class="mat-button">Blog<mat-icon class="caret">
                arrow_drop_down</mat-icon></a>
        <mat-menu #blog="matMenu" [overlapTrigger]="false" class="app-dropdown">
            <a mat-menu-item [routerLink]="['/blog/blog-list']">Blog List</a>
            <a mat-menu-item [routerLink]="['/blog/blog-column']">Blog Columns</a>
            <a mat-menu-item [routerLink]="['/blog/blog-details']">Blog Details</a>

        </mat-menu>
        <a mat-button [matMenuTriggerFor]="pages" class="mat-button">Pages<mat-icon class="caret">arrow_drop_down
            </mat-icon></a>
        <mat-menu #pages="matMenu" [overlapTrigger]="false" class="app-dropdown">
            <a [routerLink]="['/pages/about']" mat-menu-item>About Us</a>
            <a mat-menu-item [routerLink]="['/pages/faq']">FAQ</a>
            <a mat-menu-item [routerLink]="['/pages/contact']">Contact</a>
            <a mat-menu-item [routerLink]="['/pages/wishlist']">Wishlist</a>
            <a mat-menu-item [routerLink]="['/pages/testimonials']">Testimonials <span>NEW</span></a>
            <a mat-menu-item [routerLink]="['/pages/compare']">Compare</a>
            <a mat-menu-item [routerLink]="['/pages/checkout']">Checkout</a>
            <a mat-menu-item [routerLink]="['/pages/cart']">Cart</a>
            <a mat-menu-item [routerLink]="['/pages/my-account']">My Account</a>
            <a mat-menu-item [routerLink]="['/pages/error']">404</a>
        </mat-menu> -->
        <a [routerLink]="['/pages/contact']" routerLinkActive="router-link-active" mat-button
            class="mat-button">Contact</a>
        <a [routerLink]="['/pages/about']" routerLinkActive="router-link-active" mat-button class="mat-button">About
            Us</a>
    </div>
</mat-toolbar-row>