<footer class="footer sec-padding">
  <div class="container">
    <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href=""
          [routerLink]="['/home/landing']" routerLinkActive="router-link-active"><img src="assets//images/main.png"
            style="width: 85% !important;height: 50% !important;" alt="Awesome Image"></a>
        <p>Get all the latest information on Events, Sales and Offers.</p>
        <!-- <div class="link"><a href="#">MORE ABOUT US</a> </div> -->
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Useful Links</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#" [routerLink]="['/home/landing']" routerLinkActive="router-link-active">Home</a></li>
            <!-- <li><a href="#">Water Treatment & Purification</a></li>
            <li><a href="#">Water Storage (Tanks)</a></li>
            <li><a href="#">Dam liners and Pond liners</a></li> -->
            <!-- <li><a href="#">Irrigation</a></li>
            <li><a href="#">Plumbing Solutions</a></li>
            <li><a href="#">Swimming Pool Solutions</a></li>
            <li><a href="#">Cement,Construction Steel,Sanitary ware</a></li>
            <li><a href="#">Solar Systems</a></li>
            <li><a href="#">Bulk Diesel, Petrol, Oil & Lubricants</a></li>
            <li><a href="#">Green House</a></li>
            <li><a href="#">Building & Hardware Material</a></li> -->
          </ul>
        </div>
      </div>


      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
        <div class="title">
          <h5>Subscribe Newsletter</h5>
        </div>
        <form action="#">
          <p>Get latest updates and offers.</p>
          <div fxLayout="column" class="newsletter-widget">
            <input type="text" placeholder="Enter your email address">
            <button mat-raised-button color="primary" type="submit" class="ped-btn-footer">SUBSCRIBE US</button>
          </div>
        </form>
      </div>


      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2"
        class="footer-widget subscribe-widget">
        <div class="title">
          <h5>Contact Us</h5>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <div class="text">
            <p>Afriwell Ltd,P.O.Box 66840-00800,Nairobi-Kenya,Baircho Road,Industrial Area</p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <div class="text">
            <p> (254) 728 111 441/738 111 441</p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="text">
            <p><a href="#">info@afriwellgroup.com</a></p>
          </div>
        </div>

        <ul fxLayout="row" class="social list-inline">
          <li><a href="https://www.facebook.com/afriwellltd"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/afriwellltd/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/afriwell-ltd/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/AfriwellL"><i class="fa fa-twitter"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>